<style>
  
.lc-navigation-items a {
  text-decoration: none;
  display: block; }

.lc-navigation-items ul li {
  padding: 0;
  margin: 0;
  background-color: #65C52F;
  border-bottom: 1px solid #fff; }
  .lc-navigation-items ul li .lc-nav-sec, .lc-navigation-items ul li h2 {
    padding: 8px 0 8px 5px;
    display: flex;
    line-height: normal;
    margin: 0; }
    .lc-navigation-items ul li .lc-nav-sec > div, .lc-navigation-items ul li h2 > div {
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      padding: 0 2px; }
  .lc-navigation-items ul li.active {
    background-image: url("http://localhost:8082/drupal8/web/themes/sustainable_minds/images/nav_top_active.jpg");
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat; }
    .lc-navigation-items ul li.active h2 {
      color: #000; }
    .lc-navigation-items ul li.active > .lc-nav-sec div {
      color: #000; }
  .lc-navigation-items ul li.last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

.lc-navigation-items ul ul {
  background-color: #d0f1fd;
  padding: 5px 18px 5px 18px; }
  .lc-navigation-items ul ul li {
    padding: 4px 0;
    background-color: #d0f1fd;
    border: none; }
    .lc-navigation-items ul ul li.active {
      background-image: none;
      font-weight: bold;
      list-style: none; }
      .lc-navigation-items ul li>a{
        padding: 8px 0 8px 5px;
        font-weight: bold; 
        color: #fff;
        font-size: 12px;
      }
      .lc-navigation-items ul > li.active > a{
        color:#000;
      }
      .lc-navigation-items ul ul li.active a{
        color:#000 !important;
      }

.lc-navigation-items > ul {counter-reset: section;}
.lc-navigation-items > ul > li > a::before {  counter-increment: section;
  content: counter(section) ".";
}

.lc_table_content .view-content-topics table tr td a {
    color: #083081;
}

</style>
{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% for key,field in fields -%}
  {{ field.separator }}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
     {{field.content}}
      {% set formatted_title = field.content|striptags | lower | replace({' ': "-", ":" : "","’" : ""}) | raw %}
       {% if formatted_title | trim == "why-sustainable-minds?" %}
       <div class ="why_sustainable_minds_ lc_taxanomy">
          {{ drupal_view("why_sustainable_minds_", 'block_1') }}
       </div>
      {% endif %} 
      {% if formatted_title | trim == 'users-guide-conducting-an-sm-lca' %}
      <div class ="users_guide_conducting_an_sm_lcaa lc_taxanomy">
          {{ drupal_view("users_guide_conducting_an_sm_lcaa", 'block_1') }}
      </div>
      {% endif %} 
      {% if formatted_title | trim == 'ecodesign-and-lca' %}
       <div class ="ecodesign_and_lca lc_taxanomy">
          {{ drupal_view("ecodesign_and_lca", 'block_1') }}
       </div>
      {% endif %} 
      {% if formatted_title | trim == 'ecodesign-strategies' %}
      <div class ="ecodesign_strategies lc_taxanomy">
          {{ drupal_view("ecodesign_strategies", 'block_1') }}
      </div>
      {% endif %} 
      {% if formatted_title | trim == 'sm2013-impact-assessment-methodology' %}
      <div class ="sm2013_impact_assessment_methodology lc_taxanomy">
          {{ drupal_view("sm2013_impact_assessment_methodology", 'block_1') }}
      </div>
      {% endif %} 
  {%- else -%}
    {{ field.content }}
  {%- endif %}
{%- endfor %}
