<header class="blue_darkbg">
        <nav class="navbar navbar-light navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src= "{{ file_url(content.field_logo['#items'].entity.uri.value ) }}" alt="logo" title="Sustainable Logo">
                </a>
                <div class="collapse navbar-collapse align-self-end justify-content-center" id="navbarNav">
              {{drupal_menu('main')}}
                </div>
                <div class="welcome_details pr-2">
                    <p>{{ content.field_welcom_text.0 }}</p>
                    <ul class="d-flex flex-wrap"> 
                      <li><a href="{{ content.field_profile_link.0['#url']}}" title="{{ content.field_profile_link.0['#title'] }}" >{{ content.field_profile_link.0['#title'] }}</a></li>
                    <li><a href="{{ content.field_logout.0['#url']}}" title="{{ content.field_logout.0['#title'] }}" role="button">{{ content.field_logout.0['#title'] }}</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>